.cta-container {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  text-align: center;
  /* padding: 50px 20px; */
}

.cta-heading {
  font-size: 2em;
  margin-bottom: 20px;
}

.cta-highlight {
  color: #f90; /* Orange highlight for "tech" */
}

.cta-subheading {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #f90; /* Orange button */
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #e68000; /* Darker orange on hover */
}
